@using EntityLayer.Concrete
@model User

<ul class="navbar-nav navbar-nav-right">
    @if (@Model.AccountType == "Admin")
    {
        <li class="nav-item"><a href="/Admin" class="btn btn-gradient-info" style="background-color:#ba70ff; color:#fff;">Admin Paneline Geç</a></li>
    }
    <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <div class="nav-profile-img">
                @if (@Model.Image != null)
                {
                    <img src="~/Users/Images/@Model.Image" alt="image">
                }
                else
                {
                    <img src="~/Users/Images/Default.png" alt="image">
                }
                <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
                <p class="mb-1 text-black">@Model.CompanyName</p>
            </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/Login/LogOut">
                <i class="mdi mdi-logout mr-2 text-primary"></i> Çıkış Yap
            </a>
        </div>
    </li>
    <li class="nav-item d-none d-lg-block full-screen-link">
        <a class="nav-link">
            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
        </a>
    </li>

    <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="/Login/LogOut">
            <i class="mdi mdi-power"></i>
        </a>
    </li>
    <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" href="#">
            <i class="mdi mdi-format-line-spacing"></i>
        </a>
    </li>
</ul>