@using EntityLayer.Concrete
@model User
<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
    </button>
    <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-search d-none d-lg-block">
            <form action="/Admin/User/Index" method="post">
                <div class="input-group">
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                        <span class="input-group-text" id="search">
                            <i class="icon-search"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" name="Search" id="navbar-search-input" placeholder="Firma Ara" aria-label="search" aria-describedby="search">
                </div>
            </form>
        </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item"><a href="/AgentUI" class="btn" style="background-color:#ba70ff; color:#fff;">Emlakçı Paneline Geç</a></li>
        <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                @if (@Model.Image != null)
                {
                    <img src="~/Users/Images/@Model.Image" alt="image" alt="profile">
                }
                else
                {
                    <img src="~/Users/Images/Default.png" alt="image" alt="profile">
                }
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item">
                    <i class="ti-settings text-primary"></i>
                    Ayarlar
                </a>
                <a href="/Login/LogOut" class="dropdown-item">
                    <i class="ti-power-off text-primary"></i>
                    Çıkış Yap
                </a>
            </div>
        </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
    </button>
</div>