@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 style="color:#fff">Panel Seçimi</h1>
        </div>
    </div>
    <div class="row">
        <a class="col-md-6" href="/AgentUI" style="color: #fff;margin-bottom:15px;">
            <div class="home-link" style="background-image:url('/Images/AgentUI.jpg');">
                <h1>AgentUI</h1>
            </div>
        </a>
        <a class="col-md-6" href="/Admin" style="color: #fff;">
            <div class="home-link" style="background-image:url('/Images/AdminUI.jpg');">
                <h1>AdminUI</h1>
            </div>
        </a>
    </div>
</div>
